APP_NAME=SafetyFirst
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=https://13.203.254.97

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=safetyfirst_db
DB_USERNAME=safetyf1rst_2208
DB_PASSWORD=SafEtyf!rst_22O8

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

#add code tanuja (13/10/2025)
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=info@safetyfirst.co.in
MAIL_PASSWORD=mureaxrhxyzxynmh
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@safetyfirst.co.in
MAIL_FROM_NAME="Safety First"

SUREPASS_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTcyNzA3NTQwNCwianRpIjoiYmFkMWJjYTktZDZkMy00MzNiLTkyNjctMzdkNDhjZjliZDM1IiwidHlwZSI6ImFjY2VzcyIsImlkZW50aXR5IjoiZGV2Lm1lZGlhdmlzaW9uQHN1cmVwYXNzLmlvIiwibmJmIjoxNzI3MDc1NDA0LCJleHAiOjIwNDI0MzU0MDQsImVtYWlsIjoibWVkaWF2aXNpb25Ac3VyZXBhc3MuaW8iLCJ0ZW5hbnRfaWQiOiJtYWluIiwidXNlcl9jbGFpbXMiOnsic2NvcGVzIjpbInVzZXIiXX19.b8glxmvcID5FZDH7KX7AIDCbUbJr56aXvW8YNwdIu1A

SMSCOUNTRY_AUTHKEY=AIaIk2HQbrlU434184fv
SMSCOUNTRY_AUTHTOKEN=L2QR6jMdrXwRB5LpASQxGHfL4LSn450TtUEw2vHy
SMSCOUNTRY_SENDERID=SFTYFT

BITLY_TOKEN=2521cbaef82a780c0fed6a33200f5b6a87e51466
REBRANDLY_API_KEY=36c05cf539c244be9d84cf5cc79ce153

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#MAIL_MAILER=smtp
#MAIL_HOST=mailhog
#MAIL_PORT=1025
#MAIL_USERNAME=null
#MAIL_PASSWORD=null
#MAIL_ENCRYPTION=null
#MAIL_FROM_ADDRESS="hello@example.com"
#MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
